  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #inner {
    width: 50%;
    /* Set the margin-left and margin-right automatically set */
    margin: 0 auto; 
}